/* --------------------
   ASIDE
-------------------- */
aside {
    position: relative;
    width: 14.375rem;
    background-color: var(--aside-bg);
    padding: 1.25rem 1.25rem .625rem;
    display: flex;
    flex-direction: column;
}
.logo {
    width: 80%;
}
.side-nav {
    margin-top: 1.125rem;
}
.side-nav li {
    margin-bottom: .75rem;
}
.side-nav li:first-child {
    position: relative;
}
.filter {
    filter: invert(0.6);
    transition: filter 0.3s;
}
.side-nav li:first-child::before {
    content: '';
    position: absolute;
    background: var(--underline);
    width: .1875rem;
    height: 2.1875rem;
    left: -1.25rem;
    top: -0.3125rem;
}
.side-nav-img {
    height: 1.5625rem;
    display: block;
    margin-right: 10px;
}
.playlist-nav {
    display: flex;
    flex-direction: column;
    margin-top: 1.875rem;
    overflow-y: hidden;
    flex-grow: 1;
}
.playlist-nav h4 {
    padding-bottom: .625rem;
}
.add-list {
    margin-bottom: .9375rem;
}
.fa-circle-plus {
    margin-right: .625rem;
}
.new-list {
    flex-grow: 1;
    overflow-y: auto;
}
.new-list li {
    margin-bottom: 1.25rem;
}
.download {
    padding-bottom: .625rem;
    border-bottom: .0625rem solid var(--second-color);
}
.download img, .user img {
    width: 1rem;
    margin-right: .625rem;
}
.user {
    margin-top: .9375rem;
}
.user h4 {
    padding-bottom: 0;
}
.logo-mobile {
    height: 1.875rem;
    display: none;
}

/* --------------------
   QUERY
-------------------- */
@media screen and (max-width: 600px) {
    .hide {
        display: none;
    }
    .show {
        display: block;
        position: relative;
        left: -0.5rem;
    }
    .account {
        margin-top: auto;
    }
    .side-nav li:first-child::before {
        display: none;
    }
    .download {
        border-bottom: transparent;
    }

}