/* --------------------
   PAGE CONTAINER
-------------------- */
.page-container {
    display: flex;
    height: calc(100% - 5.625rem);
}

/* --------------------
   COMMONS
-------------------- */
.flex {
    display: flex;
}
.row {
    display: flex;
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
i {
    cursor: pointer;
}
img {
    display: block;
}
.recently-played > h2 {
    margin-left: .625rem;
}
.for-you > h2 , .for-you > small, .most-popular > h2, .most-popular > small {
    margin-left: .625rem;
}

/* --------------------
   QUERY 600px
-------------------- */
@media screen and (max-width: 600px) {
    aside {
        width: 3.125rem;
    }
    main {
        width: calc(100% - 3.125rem);
    }
    header {
        left: 3.125rem;
    }    
}
/* --------------------
   QUERY 480px
-------------------- */
@media screen and (max-width: 480px) {
    .page-container {
        height: calc(100% - 8.625rem);
    }    
}