/* --------------------
   FOOTER
-------------------- */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5.625rem;
    background-color: #282828;
    padding: .625rem;
    z-index: 99;
}
.nav-left, .nav-right {
    width: 13.75rem;
}
.col-nav-left .fa-heart {
    margin-right: .625rem;
}
.nav-middle {
    width: calc(100% - 27.5rem);
}
.album-img img {
    height: 2.625rem;
    margin-right: .625rem;
}
.media-player {
    margin-bottom: .625rem;
}
.media-player .fa-circle-play {
    margin: 0 1.875rem;
}
.media-player i {
    margin: 0 .6875rem;
}
.timing-bar .bar {
    background-color: var(--second-color);
    width: 50%;
    max-width: 31.25rem;
    min-width: 8.3125rem;
    height: .25rem;
    margin: 0 1.25rem;
    border-radius: .625rem;
    cursor: pointer;
}
.bar .time-line, .volume .volume-bar {
    position: relative;
    height: 100%;
    background-color: var(--first-color);
}
.bar .time-line {
    width: 20%;
}
.volume .volume-bar {
    width: 17%;
}
.circle-head::after {
    content: '';
    position: absolute;
    right: -0.625rem;
    top: -0.3438rem;
    width: .9375rem;
    height: .9375rem;
    border-radius: 50%;
    background-color: var(--first-color);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}
.nav-right .volume {
    background-color: var(--second-color);
    width: 60%;
    height: .25rem;
    border-radius: .625rem;
    cursor: pointer;
}

/* --------------------
   QUERY 700px
-------------------- */
@media screen and (max-width: 700px) {
    .nav-left, .nav-right {
        width: 27%;
    }
    .nav-middle {
        width: 40%;
        margin: auto;
    }
}
/* --------------------
   QUERY 600px
-------------------- */
@media screen and (max-width: 600px) {
    .timing-bar .bar {
        margin: 0 .3125rem;
    }
    .media-player i {
        margin: 0 .4375rem;
    }
    .media-player .fa-circle-play {
        margin: 0 .625rem;
    }
}
/* --------------------
   QUERY 480px
-------------------- */
@media screen and (max-width: 480px) {
    footer {
        flex-wrap: wrap;
        height: 8.625rem;
    }
    .nav-left, .nav-right {
        width: 47%;
    }
    .nav-left {
        margin-right: auto;
    }
    .nav-right {
        flex-wrap: wrap;
    }
    .nav-right .col-480 {
        width: 10%;
        text-align: center;
    }
    .fa-list {
        margin-left: 35%;
        margin-right: 5%;
    }
    .fa-display {
        margin-right: 35%;
        margin-left: 5%;
    }
    .nav-right .fa-volume-high {
        width: 20%;
    }
    .hover-bar {
        flex-grow: 1;
    }
    .nav-middle {
        width: 100%;
        order: -1;
    }
}
