/* --------------------
   HEADER
-------------------- */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 14.375rem;
    height: 5.5rem;
    padding-right: 1.25rem;
    background-color: var(--header-bg);
    z-index: 100;
}
header span {
    padding: .9375rem 2.1875rem;
    border: .0625rem solid var(--first-color);
    border-radius: 1.875rem;
    font-size: .875rem;
}

/* --------------------
   QUERY
-------------------- */
@media screen and (max-width: 480px) {
    header span {
        padding: .625rem 1.25rem;
    }
}