/* --------------------
   HOVER
-------------------- */
/* --------------------
   COLOR HOVER
-------------------- */
.menu li {
    transition: color 0.3s;
}
.menu li:hover {
    color: var(--first-color);
}
.hover-first-color {
    transition: color 0.3s;
}
.side-nav ul li:hover .filter{
    filter: invert(0);
    cursor: pointer;
}
.hover-first-color:hover {
    color: var(--first-color);
    cursor: pointer;
}

/* --------------------
   SCALE HOVER
-------------------- */
.scale {
    transition: transform 0.3s;
}
.scale:hover {
    transform: scale(1.15);
    cursor: pointer;
}

/* --------------------
   OPACITY HOVER
-------------------- */
.hover-show {
    opacity: 0;
    transition: opacity 0.3s;
}
.col-album:hover .hover-show {
    opacity: 1;
    cursor: pointer;
}

/* --------------------
   UNDERLLINE HOVER
-------------------- */
.white-underline {
    transition: 0.3s;
}
.white-underline:hover {
    color: var(--first-color);
    text-decoration: underline;
}

/* --------------------
   BAR HOVER
-------------------- */
.hover-bar {
    transition: background-color 0.3s;
}
.hover-bar:hover .circle-head {
    background-color: var(--underline);
    cursor: pointer;
}
.hover-bar:hover .circle-head::after {
    opacity: 1;
}
