@import url(variables.css);
@import url(footer.css);
@import url(aside.css);
/* --------------------
    RESET
-------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* --------------------
   COMMONS
-------------------- */
.row {
    display: flex;
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
header a {
    color: var(--first-color);
}
footer a {
    color: var(--second-color);
}
i {
    cursor: pointer;
}
img {
    display: block;
}
/* --------------------
   BODY
-------------------- */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 100vh;
    color: var(--first-color);
}

/* --------------------
   HEADER
-------------------- */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 14.375rem;
    height: 5.5rem;
    padding-right: .625rem;
    background-color: var(--header-bg);
}
header span {
    padding: .9375rem 2.8125rem;
    border: .0625rem solid var(--first-color);
    border-radius: 1.875rem;
}

/* --------------------
   PAGE CONTAINER
-------------------- */
.page-container {
    display: flex;
    height: calc(100% - 5.625rem);
}
main {
    background-color: var(--main-bg);
    width: calc(100% - 14.375rem);
    overflow-y: auto;   
}
.menu {
    padding-top: 6.875rem;
}
.menu li {
    position: relative;
    padding: .5rem .625rem;
}
.menu li:first-child::after {
    content: '';
    position: absolute;
    background: var(--underline);
    bottom: 0;
    left: calc(50% - .9375rem);
    width: 1.875rem;
    height: .1875rem;
}
.menu li a {
    font-size: .75rem;
}
.recently-played {
    padding: 2.5rem 1.25rem;
}
.recent-album {
    padding: 1.875rem 0 2.5rem;
    align-items: stretch;
}
.col-album {
    width: 16%;
}
.col-album .box-image {
    width: 100%;
}
.col-album img {
    width: 100%;
}
.recent-album .box-image {
    position: relative;
    margin-bottom: 1.125rem;
}
.bg-opacity {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s;
}
.box-image .fa-circle-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 3.75rem;
    transition: opacity 0.3s;
}
.recent-album .title {
    text-align: center;
}
.recent-album .title h3 {
    padding-bottom: .625rem;
}
.recent-album .title small {
    color: var(--second-color);
}
.hover-show {
    opacity: 0;
    transition: opacity 0.3s;
}
.col-album:hover .hover-show {
    opacity: 1;
    cursor: pointer;
}
/* --------------------
   QUERY
-------------------- */
@media screen and (max-width: 600px) {
    aside {
        width: 3.125rem;
    }
    main {
        width: calc(100% - 3.125rem);
    }
    header {
        left: 3.125rem;
    }    
}